---
import SkillsList from '../skills/SkillsList.astro';
import HeroImage from './HeroImage.astro';
---

<div class="w-3xl bg-black">
  <HeroImage />
  <div class="px-3">
    <h2 class="mb-2 text-2xl uppercase text-gray-200">Skills</h2>

    <SkillsList class="text-sm" />
  </div>
</div>
