---
import SkillsList from '../skills/SkillsList.astro';
import HeroImage from './HeroImage.astro';
---

<div class="w-2xl dark:bg-black">
  <HeroImage />
  <div class="px-3">
    <h2 class="mb-2 text-xl">Skills</h2>

    <SkillsList />
  </div>
</div>
