---
import { twMerge } from 'tailwind-merge';
import SectionTitle from '../typography/SectionTitle.astro';
import LanguageSection from './language-section/LanguageSection.astro';
import SkillsList from './skills/SkillsList.astro';
import { hardSkills, softSkills } from './skills/skills';

interface Props {
  class: string;
}

const { class: classFromProps } = Astro.props;
---

<div class={twMerge('bg-gray-200 dark:bg-black', classFromProps)}>
  <section>
    <SectionTitle>Skills</SectionTitle>

    <SkillsList class="text-sm" list={hardSkills} />
    <SkillsList class="mt-4 text-sm" list={softSkills} />
  </section>

  <LanguageSection class="mt-10" />
</div>
