---
import { twMerge } from 'tailwind-merge';
import SectionTitle from '../typography/SectionTitle.astro';
import InfoSection from './info-section/InfoSection.astro';
import LanguageSection from './language-section/LanguageSection.astro';
import Skill from './skills/Skill.astro';
import SkillsList from './skills/SkillsList.astro';
import { hardSkills, softSkills } from './skills/skills';

interface Props {
  class: string;
}

const { class: classFromProps } = Astro.props;
---

<div class={twMerge('bg-gray-200 dark:bg-black', classFromProps)}>
  <InfoSection />

  <section class="mt-10">
    <SectionTitle>Skills</SectionTitle>

    <SkillsList class="text-sm" list={hardSkills}>
      <Skill class="inline-flex" label="Golang" />
      <span class="text-xxs ml-1 dark:text-gray-500">(Learning...)</span><br />
    </SkillsList>
    <SkillsList class="mt-4 text-sm" list={softSkills} />
  </section>

  <LanguageSection class="mt-10" />
</div>
