---
import { twMerge } from 'tailwind-merge';
interface Props {
  label: string;
  class?: string;
}

const { class: classFromProps, label } = Astro.props;
---

<li
  class={twMerge(
    'max-w-fit rounded border px-1 dark:border-gray-800 dark:bg-gray-900 dark:text-neutral-100 mb-1.5',
    classFromProps,
  )}
>
  {label}
</li>
