---
import Skill from './Skill.astro';
import type { SkillsArray } from './skills';

interface Props {
  class: string;
  list: SkillsArray;
}

const { class: classFromProps, list } = Astro.props;
---

<ul class={classFromProps}>
  {
    list.map((item) => {
      if (typeof item === 'string') return <Skill label={item} />;
      else {
        return item.map((skill, index) => (
          <>
            <Skill label={skill} class="inline-flex" />
            {index !== item.length - 1 && <span class="mx-0.5/2">&middot;</span>}
            {index === item.length - 1 && <br />}
          </>
        ));
      }
    })
  }
</ul>
