---
import '../app.css';
import LeftSection from '../components/left-section/LeftSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="@container flex flex-row shadow-2xl shadow-slate-700 dark:bg-gray-950">
    <LeftSection />
    <section class="p-6">
      <h1 class="mb-2 text-2xl">hey, I'm Igor Pavlichenko</h1>

      <p>
        a web developer with over 6 years of experience, based near Lisbon, Portugal. Passionate
        about programming, beautiful code and technology in general. I can notice misalignments of 1
        pixel.
      </p>
    </section>

    <section class="my-4"></section>
  </main>
</Layout>
