---
import '../app.css';
import LeftSection from '../components/left-section/LeftSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="@container flex flex-row dark:bg-gray-900">
    <LeftSection />
    <section>
      <h1 class="mb-2 text-2xl">hey, I'm Igor Pavlichenko</h1>

      <p>
        a web developer with over 6 years of experience, based near Lisbon, Portugal. Passionate
        about programming, beautiful code and technology in general. I can notice misalignments of 1
        pixel.
      </p>
    </section>

    <section class="my-4"></section>
  </main>
</Layout>
