---
import '../app.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="@container">
    <section>
      <h1 class="text-2xl">hey, I'm Igor Pavlichenko</h1>
    </section>
  </main>
</Layout>
