---
import '../app.css';
import HeroIntro from '../components/HeroIntro.astro';
import HeroImage from '../components/hero-image/HeroImage.astro';
import LeftSection from '../components/left-section/LeftSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Igor Pavlichenko, web developer">
  <main class="@container flex flex-col shadow-2xl shadow-slate-700 dark:bg-gray-950">
    <div class="flex flex-row">
      <div class="w-76 min-w-76 bg-gray-200 p-6 dark:bg-black">
        <HeroImage />
      </div>
      <HeroIntro />
    </div>

    <div class="flex flex-row">
      <LeftSection class="w-76 min-w-76 h-full px-6 pb-10" />
    </div>
  </main>
</Layout>
