---
import '../app.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="@container">
    <section>
      <h1 class="mb-2 text-2xl">hey, I'm Igor Pavlichenko</h1>

      <p>
        a web developer with over 6 years of experience, based near Lisbon, Portugal. Passionate
        about programming, beautiful code and technology in general. I can notice misalignments of 1
        pixel.
      </p>
    </section>

    <section class="my-4">
      <h2 class="mb-2 text-xl">Skills</h2>

      <ul>
        <li>React.js</li>
        <li>Vite.js</li>
        <li>TypeSctipt</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Git</li>
        <li>Greenfield Development</li>
        <li>Unit Testing</li>
        <li>Jest</li>
        <li>Vitest</li>
        <li>Rest APIs</li>
        <li>React-Query</li>
        <li>Axios</li>
        <li>Agile</li>
        <li>SCRUM</li>
        <li>Jira</li>
        <li>BDD</li>
      </ul>
    </section>
  </main>
</Layout>
