---
import SectionTitle from './typography/SectionTitle.astro';
---

<section class="bg-gray-200 p-6 pt-8 sm:bg-transparent dark:bg-black sm:dark:bg-transparent">
  <h1 class="font-hero mb-4 text-5xl tracking-widest sm:text-7xl">Igor Pavlichenko</h1>
  <SectionTitle>web developer</SectionTitle>
  <p class="text-base leading-relaxed sm:text-lg">
    Hello! I am a web developer, mostly on front-end side, with over 6 years of experience, based
    near Lisbon, Portugal. Passionate about programming, beautiful code and technology in general. I
    can notice misalignments of 1 pixel.
  </p>
</section>
