---
import SectionTitle from './typography/SectionTitle.astro';
---

<section class="p-6 pt-8">
  <h1 class="font-hero mb-4 text-7xl tracking-widest">Igor Pavlichenko</h1>
  <SectionTitle>web developer</SectionTitle>
  <p class="text-lg leading-relaxed">
    Hello! I am a web developer, mostly on front-end side, with over 6 years of experience, based
    near Lisbon, Portugal. Passionate about programming, beautiful code and technology in general. I
    can notice misalignments of 1 pixel.
  </p>
</section>
