---
import Language from './Language.astro';

interface Props {
  class: string;
}
---

<section class={Astro.props.class}>
  <h2 class="mb-4 text-2xl uppercase tracking-widest">Language</h2>
  <ul class="flex flex-col gap-1.5 text-sm">
    <Language name="Portuguese" comment="Native/Bilingual" />
    <Language name="Russian" comment="Native/Bilingual" />
    <Language name="English" comment="Professional Working Proficiency" />
  </ul>
</section>
