---
import SectionTitle from '../../typography/SectionTitle.astro';
import Language from './Language.astro';

interface Props {
  class: string;
}
---

<section class={Astro.props.class}>
  <SectionTitle>Language</SectionTitle>
  <ul class="flex flex-col gap-1 text-sm">
    <Language name="Portuguese" comment="Native/Bilingual" />
    <Language name="Russian" comment="Native/Bilingual" />
    <Language name="English" comment="Professional Working Proficiency" />
  </ul>
</section>
