---
import SectionTitle from '../../typography/SectionTitle.astro';

interface Props {
  class?: string;
}
---

<section class={Astro.props.class}>
  <SectionTitle>Social</SectionTitle>

  <ul class="sm:text-md flex flex-col gap-2">
    <li>Portugal</li>
    <li>
      <span class="underline">igor.o.pavlichenko</span> at <span class="underline">gmail.com</span>
    </li>
    <li>
      <a class="underline" href="https://www.linkedin.com/in/igorpavlichenko/"
        >linkedin.com/in/igorpavlichenko</a
      >
    </li>
    <li>
      <a class="underline" href="https://github.com/igor-pavlichenko">github.com/igor-pavlichenko</a
      >
    </li>
  </ul>
</section>
