@import 'tailwindcss';

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('/fonts/BebasNeue-Regular.ttf');
	font-style: normal;
	font-display: swap;
}

@theme {
	--breakpoint-3xl: 1920px;
	--font-family-hero: 'BebasNeue', 'sans-serif';
	--font-size-xxs: 0.625rem;
}

:root {
	font-family: 'Montserrat';
}

.title {
	@apply mb-4 font-bold;
	color: pink;
	@container (width >= 36rem) {
		font-size: clamp(1rem, 2cqi + 0.1rem, 2rem);
		color: red;
	}
	@container (width < 36rem) {
		font-size: clamp(1.5rem, 2cqi + 0.1rem, 2rem);
		color: green;
	}
}
