@import "tailwindcss";

@theme {
	--breakpoint-3xl: 1920px;
}

.title {
	@apply mb-4 font-bold;
	color: pink;
	@container (width >= 36rem) {
		font-size: clamp(1rem, 2cqi + 0.1rem, 2rem);
		color: red;
	}
	@container (width < 36rem) {
		font-size: clamp(1.5rem, 2cqi + 0.1rem, 2rem);
		color: green;
	}
}
